@using IntroTest.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IntroTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/common.css" />
</head>
<body>
    <header>
        <div class="home-header">
            <div class="logo-header">
                <img src="~/img/logo.png" alt="logo IELTS GIASU" class="logo-center" />
            </div>
            @{
                var passcode = Context.Session.GetObjectFromJson<Passcode>(SessionDef.SESSION_USERLOGIN);

                if(passcode != null) {
                <div class="menu-options">
                    <ul class="nav navbar-nav ">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Tùy chọn
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeRoleModal">
                                        Đổi dịch vụ
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logoutModal">
                                        Thoát
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                }
            }
        </div>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 main-container">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
