USE [Rating]
GO
/****** Object:  Table [dbo].[Passcode]    Script Date: 12/21/2020 7:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passcode](
	[IdRole] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 12/21/2020 7:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[IdRole] [int] NULL,
	[Token] [nchar](500) NULL,
	[Date] [datetime] NULL,
	[Point] [int] NULL,
	[Feedback] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/21/2020 7:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseState]    Script Date: 12/21/2020 7:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseState](
	[Date] [datetime] NOT NULL,
	[IdRole] [int] NOT NULL,
	[Token] [nchar](500) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Passcode] ([IdRole], [Code]) VALUES (1, N'001')
INSERT [dbo].[Passcode] ([IdRole], [Code]) VALUES (1, N'002')
INSERT [dbo].[Passcode] ([IdRole], [Code]) VALUES (2, N'001')
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Vệ sinh')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Bảo vệ')
GO
