@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-lg-center">
        <h2 style="font-weight: bold">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h2>
        <h5 style="font-weight: 200">Khảo sát dịch vụ tại ALT IELTS gia sư</h5>
    </div>
    <div class="text-center btn-start-rating">
        <a href="/login" class="btn btn-info" role="button">Bắt đầu đánh giá</a>
    </div>
    <img class="group-people" src="~/img/group-people.svg" />
    <img class="group-people-wave" src="~/img/group-people-wave.svg" />
</div>
