@model IntroTest.Models.Customer

@{
    ViewData["Title"] = "Đăng nhập";
    var customer = new Customer();
}

    <link rel="stylesheet" href="~/css/common.css" />

<div class="container-login-page">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/img/login/arrow-button.png" class="icon-login" style="margin-top: 38px" />
                    <h3 class="title-page">@ViewData["Title"]</h3>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input id="password-field" type="text" class="form-control" name="password" value="" placeholder="Passcode">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-6 pick-service">Chọn loại dịch vụ</span>
                        </div>
                        <div class="form-group group-tags">
                            <div class="box-sanitation">
                                <button class="login-box-type">
                                    <img class="img-login" src="/img/login/bucket.png" />
                                    <br />
                                    <span class="text-login">Vệ sinh</span>
                                </button>
                            </div>
                            <div class="box-security">
                                <button class="login-box-type">
                                    <img class="img-login" src="~/img/login/policeman.png" />
                                    <br />
                                    <span class="text-login">Bảo vệ</span>
                                </button>
                            </div>
                            <div class="box-customer-care">
                                <button class="login-box-type">
                                    <img class="img-login" src="~/img/login/social-care.png" />
                                    <br />
                                    <span class="text-login">Chăm sóc học viên</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-danger btn-evaluate" type="button" value="Bắt Đầu Đánh Giá" onclick="CheckLogin()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>