body {
    background-color: whitesmoke;
}

.container-rating-page {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 430px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#star {
    height: 40px;
}

.icon-rating {
    margin: 10px 0px;
    height: 70px;
}

.content-rating {
    margin: 10px 0px;
}

.star-rating {
    margin: 5px 10px;
}

.content-feedback {
    width: 90%;
}

.btn-send-data {
    margin-top: 15px;
    border-radius: 20px;
    width: 20%;
}